.formulario {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    background: lightgrey;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
  }
  
.texto{
  color: var(--font-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.button-log:active, .button-confirm:active {
  box-shadow: 0px 0px var(--main-color);
  transform: translate(3px, 3px);
}
.container1{
  display: flex;
justify-content: center;
align-items: center;
}


.button-confirm {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

::deep.teste{
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  outline: none;
}

::deep.teste::placeholder{
  color: var(--font-color-sub);
  opacity: 0.8;
}

::deep.teste:focus{
  border: 2px solid var(--input-focus);
}
